header{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0px 10px;
    background: darkblue;
    .wrapper{
        display: block;
        width: 100%;
        margin: 0 auto;
        max-width: 980px;
        .logo{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img{
                width: 240px;
            }
        }
    }
}