body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #121212;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: lightgray;
}
.main{
    display: block;
    width: 100%;
    margin: 20px auto 40px;
    max-width: 980px;
}